img {
    width: 300px;
    border-radius: 50%;
}

div {
    text-align: center;
}

body {
    background-image: linear-gradient(pink, blue);
}

section {
    text-align: left;
    margin-bottom: 10px;
    font-family: "courgette", cursive;
    font-size: 25;
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    color: purple;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    border: none;
    font-weight: bold;
    color: green;
}

#tabs {
    text-align: right;
}

button {
    border-radius: 10%;
    background-color: dodgerblue;
    border: none;
}


a {
    text-decoration: none;
}

a:hover {
    color: fuchsia;
}
